main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contain-garet {
  width: 100%;
  background-image: url("../../pictures/fire.avif");
  background-position: center;
  background-size: cover;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contain-garet .container {
  padding-top: 70px;
  padding-bottom: 70px;
  max-width: 340px;
  width: 100%;
  display: flex;
}
main .contain-garet .container .text {
  width: 160px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: end;
}
main .contain-garet .container .text p {
  color: white;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: end;
  padding-right: 10px;
}
@media screen and (max-width: 600px) {
  main .contain-garet .container .text p {
    font-size: 35px;
  }
}
main .contain-garet .container .line {
  width: 5px;
  height: 300px;
  background-color: white;
}
main .contain-garet .container .logo {
  position: relative;
  width: 160px;
  height: 160px;
}
main .contain-garet .container .logo img {
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: swap 3s infinite;
}
main .contain-garet .container .logo img:nth-child(1) {
  animation-delay: 0s;
}
main .contain-garet .container .logo img:nth-child(2) {
  animation-delay: 1s;
}
main .contain-garet .container .logo img:nth-child(3) {
  animation-delay: 2s;
}
@keyframes swap {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

section {
  width: 100%;
  background-color: white;
}
section .head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
section .head p {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  section .head p {
    font-size: 35px;
  }
}
section .divs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 10px 100px 10px;
}
section .divs .lef {
  background-image: url("../../pictures/mannnn.avif");
}
section .divs .lev {
  background-image: url("../../pictures/womn-tatto.avif");
}
section .divs .let {
  background-image: url("../../pictures/frustation.avif");
}
section .divs .div {
  max-width: 900px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
}
section .divs .div .right {
  padding: 20px 40px;
}
section .divs .div .text {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 21px;
  padding: 40px 20px;
}
section .divs .div .text a {
  all: unset;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  section .divs .div .text {
    padding: 0;
  }
}
section .divs .div .text p {
  padding: 10px 0;
}
section .divs .div .btns {
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
}
section .divs .div > div {
  background-position: center;
  background-size: cover;
  min-height: 300px;
}
@media (max-width: 700px) {
  section .divs .div {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=book.css.map */