<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="../styles/common.css" />
    <link rel="stylesheet" href="../styles/about.css" />
  </head>
  <body>
    <!-- #region header  -->
    <header>
      <div class="header">
        <nav>
          <ul class="pirvel">
            <li><a href="../index.html">leek chenz</a></li>
          </ul>
          <ul class="bolo">
            <li><a href="./about.html">about</a></li>
            <li><a href="">portfolio</a></li>
            <li><a href="../#contact">contact</a></li>
          </ul>
        </nav>
        <div class="burger">
          <input type="checkbox" id="chek" class="check" />
          <div class="pirvl"><a href="../index.html">leek chenz</a></div>
          <label for="chek">
            <div class="line1"></div>
            <div class="line1"></div>
            <div class="line1"></div>
          </label>
          <nav class="nav1">
            <ul class="sxva">
              <li><a href="../index.html">about</a></li>
              <li><a href="">portfolio</a></li>
              <li><a href="../#contact">contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="line"></div>
      </div>
    </header>

    <!-- #endregion header  -->

    <!-- #region main  -->
    <main>
      <div class="left">
        <div class="text1">
          <p class="h2">creative journey</p>
          <p>
            Explore the intricate world of printmaking with Leek Chenz, where
            art meets craftsmanship in a unique blend of tradition and
            innovation.
          </p>
        </div>
        <div class="text2">
          <div class="zeda">
            <p class="h3">Artistic Vision</p>
            <p>
              Discover the fusion of nature, culture, and human emotions in each
              print, reflecting a profound understanding of the art of printing.
            </p>
          </div>
          <div class="qveda">
            <p class="h3">Noteworthy Projects</p>
            <p>
              From 'Whispers of the Forest' to 'Urban Tapestry,' each project
              tells a story through intricate details and vibrant textures.
            </p>
          </div>
        </div>
      </div>
      <div class="right"></div>
    </main>
    <!-- #endregion main -->

    <!-- #region footer  -->
    <footer>
      <div class="footer">
        <div class="item1"><a href="/index.html">leek chenz</a></div>
        <div class="item2">
          <div>
            <p>123-456-7890</p>
            <p>info@mysite.com 500</p>
          </div>
          <div class="terry">
            <p>Terry Francine St.</p>
            <p>San Francisco, CA 94158</p>
            <div class="line2"></div>
          </div>
        </div>
        <div class="item3"><p>Privacy Policy Accessibility Statement</p></div>
        <div class="item4">
          <p>© 2035 by Leek Chenz. Powered and secured by Wix</p>
        </div>
      </div>
    </footer>
    <!-- #endregion footer  -->
  </body>
</html>
