<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>city</title>
    <link rel="stylesheet" href="../styles/city.css" />
    <link rel="stylesheet" href="../styles/common.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- #region header  -->
    <header>
      <div class="header">
        <nav>
          <ul class="pirvel">
            <li><a href="../index.html">leek chenz</a></li>
          </ul>
          <ul class="bolo">
            <li><a href="./about.html">about</a></li>
            <li><a href="./portfolio.html">portfolio</a></li>
            <li><a href="../#contact">contact</a></li>
            <li><a href="./tattoo/tatto.html">tatto</a></li>
          </ul>
        </nav>
        <div class="burger">
          <input type="checkbox" id="chek" class="check" />
          <div class="pirvl"><a href="../index.html">leek chenz</a></div>
          <label for="chek">
            <div class="line1"></div>
            <div class="line1"></div>
            <div class="line1"></div>
          </label>
          <nav class="nav1">
            <ul class="sxva">
              <li><a href="../index.html">about</a></li>
              <div class="ul-line"></div>
              <li><a href="./portfolio.html">portfolio</a></li>
              <div class="ul-line"></div>
              <li><a href="../#contact">contact</a></li>
              <div class="ul-line"></div>
              <li><a href="./tattoo/tatto.html">tatto</a></li>
              <div class="ul-line"></div>
            </ul>
          </nav>
        </div>
        <div class="xazi"></div>
      </div>
    </header>

    <!-- #endregion header  -->

    <!-- #region main    -->
    <main>
      <div class="content">
        <div class="first">
          <div class="text">
            <div class="left"><p>Echoes in Etching</p></div>
            <div class="right">
              <p>
                This etching series explores themes of memory and cultural
                identity. With meticulous attention to detail, each piece
                creates a dialogue between past and present, layering textures
                and patterns to evoke a sense of nostalgia and personal
                connection.
              </p>
            </div>
          </div>
          <div class="pic"></div>
        </div>
        <div class="second">
          <div class="pics">
            <div>
              <a href=""><div class="div1"></div></a>
            </div>
            <div>
              <a href=""><div class="div2"></div></a>
            </div>
            <div>
              <a href=""><div class="div3"></div></a>
              <a href="./city.html" class="alink">
                <p><i class="fa-solid fa-angle-left"></i> previos project</p></a
              >
            </div>
            <div>
              <a href=""><div class="div4"></div></a>
              <a href="./city.html" class="alink1">
                <p>next project <i class="fa-solid fa-angle-right"></i></p
              ></a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- #endregion main -->

    <!-- #region footer  -->
    <footer>
      <div class="footer">
        <div class="item1"><a href="/index.html">leek chenz</a></div>
        <div class="item2">
          <div>
            <p>123-456-7890</p>
            <p>info@mysite.com 500</p>
          </div>
          <div class="terry">
            <p>Terry Francine St.</p>
            <p>San Francisco, CA 94158</p>
            <div class="line2"></div>
          </div>
        </div>
        <div class="item3">
          <p>Privacy Policy</p>
          <p>Accessibility Statement</p>
        </div>
        <div class="item4">
          <p>© 2035 by Leek Chenz. Powered and secured by Wix</p>
        </div>
      </div>
    </footer>
    <!-- #endregion footer  -->
  </body>
</html>
