<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>city</title>
    <link rel="stylesheet" href="../styles/city.css">
    <link rel="stylesheet" href="../styles/common.css">
</head>
<body>
        <!-- #region header  -->
    <header>
      <div class="header">
        <nav>
          <ul class="pirvel">
            <li><a href="../index.html">leek chenz</a></li>
          </ul>
          <ul class="bolo">
            <li><a href="./about.html">about</a></li>
            <li><a href="./portfolio.html">portfolio</a></li>
            <li><a href="../#contact">contact</a></li>
          </ul>
        </nav>
        <div class="burger">
          <input type="checkbox" id="chek" class="check" />
          <div class="pirvl"><a href="../index.html">leek chenz</a></div>
          <label for="chek">
            <div class="line1"></div>
            <div class="line1"></div>
            <div class="line1"></div>
          </label>
          <nav class="nav1">
            <ul class="sxva">
              <li><a href="../index.html">about</a></li>
              <div class="ul-line"></div>
              <li><a href="./portfolio.html">portfolio</a></li>
              <div class="ul-line"></div>
              <li><a href="../#contact">contact</a></li>
              <div class="ul-line"></div>
            </ul>
          </nav>
        </div>
        <div class="xazi"></div>
      </div>
    </header>

    <!-- #endregion header  -->

<!-- #region main    -->

<!-- #endregion main -->



    <!-- #region footer  -->
    <footer>
      <div class="footer">
        <div class="item1"><a href="/index.html">leek chenz</a></div>
        <div class="item2">
          <div>
            <p>123-456-7890</p>
            <p>info@mysite.com 500</p>
          </div>
          <div class="terry">
            <p>Terry Francine St.</p>
            <p>San Francisco, CA 94158</p>
            <div class="line2"></div>
          </div>
        </div>
        <div class="item3"><p>Privacy Policy</p> <p>Accessibility Statement</p></div>
        <div class="item4">
          <p>© 2035 by Leek Chenz. Powered and secured by Wix</p>
        </div>
      </div>
    </footer>
    <!-- #endregion footer  -->

</body>
</html>