<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>book online</title>
    <link rel="stylesheet" href="../styles/book.css" />
    <link rel="stylesheet" href="../styles/cmn.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- #region header  -->
    <header class="header">
      <div class="both">
        <div class="not-main">
          <a href="../index.html">leek chenz</a>
        </div>
        <div class="tattu">
          <input type="checkbox" id="chek" />
          <label for="chek">
            <div class="bline"></div>
            <div class="bline"></div>
            <div class="bline"></div>
          </label>
          <nav class="nav2">
            <ul>
              <li>
                <a href="../tatto.html/#home">home</a>
              </li>
              <li>
                <a href="../tatto.html/#sec1">artists</a>
              </li>
              <li>
                <a href="../tatto.html/#sec2">gallery</a>
              </li>
              <li>
                <a href="../tatto.html/#sec3">piercing</a>
              </li>
              <li>
                <a href="../tatto.html/#contact">contact</a>
              </li>
              <li>
                <a href="./book.html">book online</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="top">
        <nav class="nav1">
          <ul>
            <li><a href="">book now</a></li>
          </ul>
          <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
          <div class="log">
            <i class="fa-solid fa-circle-user"></i>
            <p>log in</p>
          </div>
        </nav>
      </div>
      <div class="bottom">
        <nav class="nav3">
          <ul>
            <li>
              <a href="../tatto.html#main">home</a>
            </li>
            <li>
              <a href="../tatto.html#sec1">artists</a>
            </li>
            <li>
              <a href="../tatto.html#sec2">gallery</a>
            </li>
            <li>
              <a href="../tatto.html#sec3">piercing</a>
            </li>
            <li>
              <a href="../tatto.html#cont">contact</a>
            </li>
            <li>
              <a href="./book.html">book online</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- #endregion -->

    <!-- #region main  -->
    <main>
      <div class="contain-garet">
        <div class="container">
          <div class="text">
            <p>the look studio</p>
          </div>
          <div class="line"></div>
          <div class="logo">
            <img src="../../pictures/pepela.svg" />
            <img src="../../pictures/qala.svg" />
            <img src="../../pictures/oqtopus.svg" />
          </div>
        </div>
      </div>
    </main>
    <!-- #endregion main  -->

    <!-- #region section  -->
    <section>
      <div class="head">
        <img src="../../pictures/knife.svg" alt="" />
        <p>consultation</p>
      </div>
      <div class="divs">
        <div class="div">
          <div class="lef"></div>
          <div class="right">
            <div class="text">
              <a href="./inside.html">artist 1</a>
              <p>1 hr</p>
              <p>$99</p>
              <button class="btns">book now</button>
            </div>
          </div>
        </div>
        <div class="div">
          <div class="let"></div>
          <div class="right">
            <div class="text">
              <a href="./inside.html">artist 2</a>
              <p>1 hr</p>
              <p>$99</p>
              <button class="btns">book now</button>
            </div>
          </div>
        </div>
        <div class="div">
          <div class="lev"></div>
          <div class="right">
            <div class="text">
              <a href="./inside.html">artist 3</a>
              <p>1 hr</p>
              <p>$99</p>
              <button class="btns">book now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #endregion section  -->
  </body>
</html>
